<nav class="bg-white  shadow-lg sticky top-0 z-50">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
    
      <div class="flex">
        <div class="flex flex-shrink-0 items-center"> 
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-red-600 hover:text-gray-700" -->
          
          <%= link_to "HOME", merit_index_path , class: "inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-red-700 hover:text-gray-700 border-gray-500" %>
        
        

          <%= link_to "PRODUCTS", merit_products_path , class: "inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-red-700 hover:text-gray-700 " %>

          <%= link_to "MENU", merit_menu_path , class: "inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700" %>

          <%= link_to "CONTACTS", merit_contacts_path , class: "inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700" %>

        
        </div>
      </div>
      

      </div>
    </div>                                                                                                                                                                                        
  </div>      
        
     </div>
    </div>
   
</nav>