
<br>
<main>
<!-- Hero section -->
<div class="relative">
  <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="relative shadow-xl sm:overflow-hidden sm:rounded-2xl">
      <div class="absolute inset-0">
        <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1592861956120-e524fc739696?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="People working on laptops">
        <div class="absolute inset-0 bg-gradient-to-r from-gray-600 to-yellow-900 mix-blend-multiply"></div>
      </div>
      <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
        <h1 class="text-center text-10xl font-bold tracking-tight sm:text-5xl lg:text-6xl">
          <span class="block text-white capitalize">Fulfill your comfort</span>
          <span class="block text-yellow-500 capitalize">food cravings</span>
        </h1>
        <p class="mx-auto mt-6 max-w-lg text-center text-xl text-indigo-200 sm:max-w-3xl">Get your food ready in an instant when you arrive at your restaurant of choice. You don't have to wait for long at the restaurant before you are served with your meal of choice. Make an order via the website, let's prepare your plate and find it ready for a SMASH! 
      </p>
      <br>
      <hr class="w-60 h-30 mx-auto">
        <div class="mx-auto mt-10 max-w-sm sm:flex sm:max-w-none sm:justify-center">
          <div class="space-y-4 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5 sm:space-y-0">
            <a href="#" class="flex items-center justify-center rounded-md border border-transparent bg-green-600 px-4 py-3 text-base font-medium text-white- shadow-sm hover:bg-indigo-50 sm:px-8 animate-bounce "> ORDER NOW</a>
            <a href="#" class="flex items-center justify-center rounded-md border border-transparent bg-red-700   px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-opacity-70 sm:px-8 animate-bounce">OUR PRODUCTS</a>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>
 
<hr class="bg-red-600 mx-auto" style="height: 6px; width: 270px;">

<br><br>
 
 

<div class="relative bg-white py-16">
<div class="absolute inset-x-0 top-0 hidden h-1/2 bg-gray-50 lg:block" aria-hidden="true"></div>
<div class="mx-auto max-w-7xl bg-indigo-600 lg:bg-transparent lg:px-8">
  <div class="lg:grid lg:grid-cols-12">
    <div class="relative z-10 lg:col-span-4 lg:col-start-1 lg:row-start-1 lg:bg-transparent lg:py-16">
      <div class="absolute inset-x-0 h-1/2 bg-gray-50 lg:hidden" aria-hidden="true"></div>
      <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-none lg:p-0">
        <div class="aspect-w-10 aspect-h-6 sm:aspect-w-2 sm:aspect-h-1 lg:aspect-w-1">

      
        <img class="rounded-3xl object-cover object-center shadow-2xl" src="https://media.istockphoto.com/photos/senior-woman-and-adult-daughter-in-coffee-shop-picture-id1303859819?k=20&m=1303859819&s=612x612&w=0&h=MXAlc_fSLa_CgxC-kx04joRJEwid4C-dePOIqDIud4Q=" alt="">
        </div>
      </div>
    </div>

    <div class="relative bg-indigo-600 lg:col-span-10 lg:col-start-3 lg:row-start-1 lg:grid lg:grid-cols-10 lg:items-center lg:rounded-3xl">
      <div class="absolute inset-0 hidden overflow-hidden rounded-3xl lg:block" aria-hidden="true">
        <svg class="absolute bottom-full left-full translate-y-1/3 -translate-x-2/3 transform xl:bottom-auto xl:top-0 xl:translate-y-0" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
          <defs>
            <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-indigo-500" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
        </svg>
        <svg class="absolute top-full -translate-y-1/3 -translate-x-1/3 transform xl:-translate-y-1/2" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
          <defs>
            <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-indigo-500" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
        </svg>
      </div>
      <div class="relative mx-auto max-w-md space-y-6 py-12 px-4 sm:max-w-3xl sm:py-16 sm:px-6 lg:col-span-6 lg:col-start-4 lg:max-w-none lg:p-0">
        <h2 class="text-3xl font-bold tracking-tight text-white" id="join-heading">Book a table!</h2>
        <p class="text-lg text-white">You have the best chance ever to conveniently book your favourite meal at the comfort of your home/office.</p>
        <a class="block w-full rounded-md border border-transparent bg-white py-3 px-5 text-center text-base font-medium text-indigo-700 shadow-md hover:bg-gray-50 sm:inline-block sm:w-auto" href="#">Explore available restaurants &rarr;</a>
      </div>
    </div>
  </div>
</div>
</div>

<br>
   
 
 
<div class="relative bg-gray-800 pb-32">
    <div class="absolute inset-0">
<%= image_tag "white bg.jpg" , class: "h-full w-full object-cover" %>

  <div class="absolute inset-0 bg-white mix-blend-multiply" aria-hidden="true"></div>
</div>

<div class="mx-auto  bg-white mix-blend-multiply rounded-2xl" style="height: 400px; width:1200px;">
<br><br>
 <div class="mx-auto justify-left" style="width: 400px;">
<h1 class="text-left font-bold text-red-600 text-3xl border-b-2 border-transparent"> What Our Customers Say</h1>
<hr class="bg-red-600 h-1" style="width: 150px;">
</div>
<div class="mx-auto" style="width:1100px">
<div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <div class="group relative">
        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75  lg:aspect-none lg:h-80">
        <br>

        
          <img src="https://media.istockphoto.com/photos/southern-fried-fish-with-toast-picture-id1347980830?b=1&k=20&m=1347980830&s=170667a&w=0&h=wFbgIwrUKvR6eMfWwfSy7Irh8CN-J07yIg0_ZrVOFI4=" alt="Front of men&#039;s Basic Tee in black." class="rounded-full object-cover object-center mx-auto" style="width:100px; height:100px;"> 
          <p class="text-center">................</p>
           
          <p class="text-dark opacity-70 px-4 text-left"><i>You have the best chance ever to conveniently book your favourite meal at the comfort of your home/office.</i></p><br>
          <p class="text-dark opacity-70 px-4 text-left"><b><i>Moris Johnson</i></b></p> 
          <hr>
        </div>
        <div class="mt-4 flex justify-between">
          <div>
          </div>          
        </div>
      </div>
      
      
      <!--The second column here-->
      <div class="group relative">
      <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
      <p class="text-lg text-white"> 
      <br>
      <img src="https://media.istockphoto.com/photos/southern-fried-fish-with-toast-picture-id1347980830?b=1&k=20&m=1347980830&s=170667a&w=0&h=wFbgIwrUKvR6eMfWwfSy7Irh8CN-J07yIg0_ZrVOFI4=" alt="Front of men&#039;s Basic Tee in black." class="rounded-full object-cover object-center mx-auto" style="width:100px; height:100px;"> 
      <p class="text-center">................</p>
       
      <p class="text-dark opacity-70 px-4 text-left"><i>You have the best chance ever to conveniently book your favourite meal at the comfort of your home/office.</i></p>
      <br>
      <p class="text-dark opacity-70 px-4 text-left"><b><i> Alex Bee</i></b></p> 
      </div>
      
      <div class="mt-4 flex justify-between">
        <div>
           
        </div>
       
      </div>
    </div>

    <div class="group relative">
    <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
    <br>
    <img src="https://media.istockphoto.com/photos/southern-fried-fish-with-toast-picture-id1347980830?b=1&k=20&m=1347980830&s=170667a&w=0&h=wFbgIwrUKvR6eMfWwfSy7Irh8CN-J07yIg0_ZrVOFI4=" alt="Front of men&#039;s Basic Tee in black." class="rounded-full object-cover object-center mx-auto" style="width:100px; height:100px;"> 
    <p class="text-center">................</p>
     
    <p class="text-dark opacity-70 px-4 text-left"><i>You have the best chance ever to conveniently book your favourite meal at the comfort of your home/office.</i></p>
    <br>
    <p class="text-dark opacity-70 px-4 text-left"><b><i>James Willis</i></b></p> 
    </div>
    <div class="mt-4 flex justify-between">
      <div>
         
      </div>
      
    </div>
  </div>
  
  <div class="group relative">
  <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
  <br>
  <img src="https://media.istockphoto.com/photos/southern-fried-fish-with-toast-picture-id1347980830?b=1&k=20&m=1347980830&s=170667a&w=0&h=wFbgIwrUKvR6eMfWwfSy7Irh8CN-J07yIg0_ZrVOFI4=" alt="Front of men&#039;s Basic Tee in black." class="rounded-full object-cover object-center mx-auto" style="width:100px; height:100px;"> 
  <p class="text-center">................</p>
   
  <p class="text-dark opacity-70 px-4 text-left"><i>You have the best chance ever to conveniently book your favourite meal at the comfort of your home/office.</i></p>
  <br>
  <p class="text-dark opacity-70 px-4 text-left"><b><i>Peter Okello</i></b></p> 
  </div>
  <div class="mt-4 flex justify-between">
    <div>
       
                </div>
        
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
</div>
</div> 
<br><br>
