 
<div class="bg-black h-30">
<div class="text-white text-center py-10">
<h1 class="text-4xl font-bold capitalize">Our Menu</h1>
<a href="#" class="text-white ">Home &#8250; </a>
<a  class="text-white"> Our Menu</a>
</div>
</div>
<br>
 
<div class="grid grid-cols-2 gap-1 col-span-2 ">
<div class="group relative">
<div class="bg-white mt-4   justify-center drop-shadow-xl " style="width: 350px; height: 600px;">
<fieldset>
 <div class="sticky top-0 z-50 max-w-7xl px-4 sm:px-6 lg:px-8 ">
 <h2 class="text-lg font-medium text-red-600 font-bold">Categories</h2>
   <div class="relative flex items-start py-4 justify-between">
     <div class="min-w-4 flex-1 text-sm">
     
    
     <a href="#" for="side-null" class="select-none font-medium text-gray-700 hover:text-red-600">BREAKFAST</a>
     </div>
     <div class="ml-3 flex h-5 items-center">
       <input id="side-null" name="plan" type="radio" checked class="h-4 w-4 border-gray-300 text-red-600 focus:ring-red-600">
     </div>
   </div>

   <div class="relative flex items-start py-4">
     <div class="min-w-0 flex-1 text-sm">
     <a href="#" for="side-null" class="select-none font-medium text-gray-700 hover:text-red-600">SNACKS</a>
     </div>
     <div class="ml-3 flex h-5 items-center">
       <input id="side-1" name="plan" type="radio" class="h-4 w-4 border-gray-300 text-red-600 -600 focus:ring-red-600 -500">
     </div>
   </div>

   <div class="relative flex items-start py-4">
     <div class="min-w-0 flex-1 text-sm">
     <a href="#" for="side-null" class="select-none font-medium text-gray-700 hover:text-red-600">LUNCH BOX</a>
     </div>
     <div class="ml-3 flex h-5 items-center">
       <input id="side-2" name="plan" type="radio" class="h-4 w-4 border-gray-300 text-red-600 -600 focus:ring-red-600 -500">
     </div>
   </div>

   <div class="relative flex items-start py-4">
     <div class="min-w-0 flex-1 text-sm">
     <a href="#" for="side-null" class="select-none font-medium text-gray-700 hover:text-red-600">DRINKS</a>
     </div>
     <div class="ml-3 flex h-5 items-center">
       <input id="side-3" name="plan" type="radio" class="h-4 w-4 border-gray-300 text-red-600 -600 focus:ring-red-600 -500">
     </div>
   </div>

   <div class="relative flex items-start py-4">
     <div class="min-w-0 flex-1 text-sm">
       <label for="side-4" class="select-none font-medium text-gray-700">Garden salad</label>
     </div>
     <div class="ml-3 flex h-5 items-center">
       <input id="side-4" name="plan" type="radio" class="h-4 w-4 border-gray-300 text-red-600 -600 focus:ring-red-600 -500">
     </div>
   </div>

   <div class="relative flex items-start py-4">
     <div class="min-w-0 flex-1 text-sm">
       <label for="side-5" class="select-none font-medium text-gray-700">Mashed potatoes</label>
     </div>
     <div class="ml-3 flex h-5 items-center">
       <input id="side-5" name="plan" type="radio" class="h-4 w-4 border-gray-300 text-red-600 -600 focus:ring-red-600 -500">
     </div>
   </div>
 </div>
</fieldset>
</div>
</div>

<!--Right column-->
<div class="bg-white flex-left" style="width: 400px; height: 600px;">
<%= image_tag "BREAKFAST.jpg" %>
</div>
</div>
</div>


 
 
 