<div class="bg-black h-30">
<div class="text-white text-center py-10">
<h1 class="text-4xl font-bold capitalize">Our Menu</h1>
<a href="#" class="text-white ">Home &#8250; </a>
<a  class="text-white"> Our Menu</a>
</div>
</div>
<br>
 <div class="grid grid-cols-2 gap-1 col-span-2 ">
 <div class="group relative">
 <div class="bg-white mt-4 flex justify-center drop-shadow-xl " style="width: 400px; height: 600px;">
 <br>
 <fieldset>
 <h2 class="text-lg font-medium text-red-600 font-bold">Categories</h2>

  <div class="sticky top-0 z-50 ">
    <div class="relative flex items-start py-4">
      <div class="min-w-4 flex-1 text-sm">
        <a href="#" for="side-null" class="select-none font-medium text-gray-700 hover:text-red-600">BREAKFAST</a>
      </div>
      <div class="ml-3 flex h-5 items-center">
        <input id="side-null" name="plan" type="radio" checked class="h-4 w-4 border-gray-300 text-red-600 focus:ring-red-600">
      </div>
    </div>

    <div class="relative flex items-start py-4">
      <div class="min-w-0 flex-1 text-sm">
      <a href="#" for="side-null" class="select-none font-medium text-gray-700 hover:text-red-600">SNACKS</a>
      </div>
      <div class="ml-3 flex h-5 items-center">
        <input id="side-1" name="plan" type="radio" class="h-4 w-4 border-gray-300 text-red-600 -600 focus:ring-red-600 -500">
      </div>
    </div>

    <div class="relative flex items-start py-4">
      <div class="min-w-0 flex-1 text-sm">
      <a href="#" for="side-null" class="select-none font-medium text-gray-700 hover:text-red-600">LUNCH BOX</a>
      </div>
      <div class="ml-3 flex h-5 items-center">
        <input id="side-2" name="plan" type="radio" class="h-4 w-4 border-gray-300 text-red-600 -600 focus:ring-red-600 -500">
      </div>
    </div>

    <div class="relative flex items-start py-4">
      <div class="min-w-0 flex-1 text-sm">
      <a href="#" for="side-null" class="select-none font-medium text-gray-700 hover:text-red-600">DRINKS</a>
      </div>
      <div class="ml-3 flex h-5 items-center">
        <input id="side-3" name="plan" type="radio" class="h-4 w-4 border-gray-300 text-red-600 -600 focus:ring-red-600 -500">
      </div>
    </div>

    <div class="relative flex items-start py-4">
      <div class="min-w-0 flex-1 text-sm">
        <label for="side-4" class="select-none font-medium text-gray-700">Garden salad</label>
      </div>
      <div class="ml-3 flex h-5 items-center">
        <input id="side-4" name="plan" type="radio" class="h-4 w-4 border-gray-300 text-red-600 -600 focus:ring-red-600 -500">
      </div>
    </div>

    <div class="relative flex items-start py-4">
      <div class="min-w-0 flex-1 text-sm">
        <label for="side-5" class="select-none font-medium text-gray-700">Mashed potatoes</label>
      </div>
      <div class="ml-3 flex h-5 items-center">
        <input id="side-5" name="plan" type="radio" class="h-4 w-4 border-gray-300 text-red-600 -600 focus:ring-red-600 -500">
      </div>
    </div>
  </div>
</fieldset>
 </div>
 </div>


 <!--sec col-->
 <!--The first column here-->
 <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
   <div class="group relative">
     <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
       <img src="https://media.istockphoto.com/photos/southern-fried-fish-with-toast-picture-id1347980830?b=1&k=20&m=1347980830&s=170667a&w=0&h=wFbgIwrUKvR6eMfWwfSy7Irh8CN-J07yIg0_ZrVOFI4=" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
     </div>
     <div class="mt-4 flex justify-between">
       <div>
         <h3 class="text-sm text-gray-700">
           <a href="#">
             <span aria-hidden="true" class="absolute inset-0"></span>
            Yummy Chicken 
           </a>
         </h3>
       </div>
       <p class="text-sm font-medium text-red-600">$35</p>
     </div>
   </div>
   
   <!--The second column here-->
   <div class="group relative">
   <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
     <img src="https://media.istockphoto.com/photos/southern-fried-fish-with-toast-picture-id1347980830?b=1&k=20&m=1347980830&s=170667a&w=0&h=wFbgIwrUKvR6eMfWwfSy7Irh8CN-J07yIg0_ZrVOFI4=" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
   </div>
   <div class="mt-4 flex justify-between">
     <div>
       <h3 class="text-sm text-gray-700">
         <a href="#">
           <span aria-hidden="true" class="absolute inset-0"></span>
          Yummy Chicken 
         </a>
       </h3>
     </div>
     <p class="text-sm font-medium text-red-600">$35</p>
   </div>
 </div>

 <div class="group relative">
 <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
   <img src="https://media.istockphoto.com/photos/southern-fried-fish-with-toast-picture-id1347980830?b=1&k=20&m=1347980830&s=170667a&w=0&h=wFbgIwrUKvR6eMfWwfSy7Irh8CN-J07yIg0_ZrVOFI4=" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
 </div>
 <div class="mt-4 flex justify-between">
   <div>
     <h3 class="text-sm text-gray-700">
       <a href="#">
         <span aria-hidden="true" class="absolute inset-0"></span>
        Yummy Chicken 
       </a>
     </h3>
   </div>
   <p class="text-sm font-medium text-red-600">$35</p>
 </div>
</div>

<div class="group relative">
<div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
 <img src="https://media.istockphoto.com/photos/southern-fried-fish-with-toast-picture-id1347980830?b=1&k=20&m=1347980830&s=170667a&w=0&h=wFbgIwrUKvR6eMfWwfSy7Irh8CN-J07yIg0_ZrVOFI4=" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
</div>
<div class="mt-4 flex justify-between">
 <div>
   <h3 class="text-sm text-gray-700">
     <a href="#">
       <span aria-hidden="true" class="absolute inset-0"></span>
      Yummy Chicken <br> Veery just Yummy
     </a>
   </h3>
 </div>
 <p class="text-sm font-medium text-red-600">$35</p>
</div>
</div>

 </div>
</div>
 </div>
 
 