  
<div class="bg-black h-30">
<div class="text-white text-center py-10">
<h1 class="text-4xl font-bold capitalize">Products</h1>
<a href="#" class="text-white ">Home &#8250; </a>
<a  class="text-white">Products</a>
</div>
</div>
<br>
