  
<div class="bg-black h-30">
<div class="text-white text-center py-10">
<h1 class="text-4xl font-bold capitalize">Products</h1>
<a href="" class="text-white ">Home &#8250; </a>
<a  class="text-white">Products</a>
</div>
</div>
<br>
<div class="relative justify-left px-8">
<h1 class="text-red-600 text-left text-xl font-bold">Products</h1>
</div>  
<div class="px-8 grid grid-cols-1 lg:grid-cols-2 ">
        <div class="relative ustify-left" style="width: 300px; ">
         
        <hr class="bg-red-600 h-1 px-8" style="width: 10px;">
        <br>
        <p class="opacity-60">Get your food ready in an instant when you arrive at your restaurant of choice.</p>  
    
</div> 

<div class="flex flex-col">
<div class="relative justify-left">
<h1 class="text-red-600 text-left">Our Vision</h1>
<hr class="bg-red-600 h-1 px-8" style="width: 10px;">
<br>
<p class="opacity-60">Get your food ready in an instant when you arrive at your restaurant of choice.</p>  
</div>
 </div>
 </div>
</div> 
</div>