  
<div class="bg-black h-30">
<div class="text-white text-center py-10">
<h1 class="text-4xl font-bold capitalize">Products</h1>
<a href="" class="text-white "><%= link_to "HOME", merit_index_path , class: "inline-flex items-center border-b-2 border-transparent 
px-1 pt-1 text-sm font-medium text-gray-500   hover:text-red-700 border-gray-500" %> &#8250; </a>
<a  class="text-white">Products</a>
</div>
</div>

<div class="bg-gradient-to-b from-white to-gray-50">
<div class="mx-auto max-w-7xl px-4 pt-24 sm:px-6 lg:px-8">
  <div class="sm:align-center sm:flex sm:flex-col">
    <h1 class="text-5xl font-bold tracking-tight text-indigo-800 sm:text-center">Pricing Plans</h1>
    <p class="mt-5 text-xl text-gray-500 sm:text-center">Start building for free, then add a site plan to go live. Account plans unlock additional features.
    You can choose on any of our plans that best suits you budget, and get instant access to our 
    <a class=" font-bold">Exclusive</a> designs All the time, Everywhere!
    </p>
    <div class="relative mt-6 flex self-center rounded-lg bg-gray-100 p-0.5 sm:mt-8">
      <button type="button" class="relative w-1/2 whitespace-nowrap rounded-md border-gray-200 bg-white py-2 text-sm font-medium text-gray-900 shadow-sm focus:z-10 focus:outline-none focus:ring-2 focus:ring-purple-500 sm:w-auto sm:px-8">Monthly billing</button>
      <button type="button" class="relative ml-0.5 w-1/2 whitespace-nowrap rounded-md border border-transparent py-2 text-sm font-medium text-gray-700 focus:z-10 focus:outline-none focus:ring-2 focus:ring-purple-500 sm:w-auto sm:px-8">Yearly billing</button>
      <button type="button" class="relative ml-0.5 w-1/2 whitespace-nowrap rounded-md border border-transparent py-2 text-sm font-medium text-gray-700 focus:z-10 focus:outline-none focus:ring-2 focus:ring-purple-500 sm:w-auto sm:px-8">Yearly billing</button>
  
      </div>
  </div>
  <div class="mt-12 space-y-4 sm:mt-16 sm:grid sm:grid-cols-2 sm:gap-6 sm:space-y-0 lg:mx-auto lg:max-w-4xl xl:mx-0 xl:max-w-none xl:grid-cols-4">
    <div class="divide-y divide-gray-200 rounded-lg border border-gray-200 shadow-sm">
      <div class="p-6">
        <h2 class="text-lg font-medium leading-6 text-gray-900">Weekly</h2>
        <p class="mt-4 text-sm text-gray-500">No minimum commitment. Pause or cancel anytime.</p>
        <p class="mt-8">
          <span class="text-4xl font-bold tracking-tight text-gray-900">$4,995</span>
          <span class="text-base font-medium text-gray-500">/mo</span>
        </p>
       
       <a href="#" class="mt-8 block w-full rounded-md border border-transparent bg-purple-600 py-2 text-center text-sm font-semibold text-white hover:bg-purple-700">Buy Weekly </a>
     <br> <a href="https://calendly.com/caleb_otis/30min" class="text-dark-800 opacity-70 text-center underline decoration-wavy text-sm"> Book a Call</a>
       </div>
      <div class="px-6 pt-6 pb-8">
        <h3 class="text-sm font-medium text-gray-900">What's included</h3>
        <ul role="list" class="mt-6 space-y-4">
          <li class="flex space-x-3">
            <!-- Heroicon name: mini/check -->
            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            <span class="text-sm text-gray-500">Unlimited requests
            </span>
          </li>

          <li class="flex space-x-3">
            <!-- Heroicon name: mini/check -->
            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            <span class="text-sm text-gray-500">Unlimited brands.</span>
          </li>

          <li class="flex space-x-3">
            <!-- Heroicon name: mini/check -->
            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            <span class="text-sm text-gray-500">Unlimited users.</span>
          </li>

          <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
          </svg>
          <span class="text-sm text-gray-500">Skip and cancel any time .</span>
        </li>
          
        </ul>
      </div>
    </div>
 
    <div class="divide-y divide-gray-200 rounded-lg border border-gray-200 shadow-sm">
      <div class="p-6">
        <h2 class="text-lg font-medium leading-6 text-gray-900">Monthly</h2>
        <p class="mt-4 text-sm text-gray-500">Save upto $500 per month</p>
        <br>
        <p class="mt-8">
          <span class="text-4xl font-bold tracking-tight text-gray-900">$4,599</span>
          <span class="text-base font-medium text-gray-500">/mo</span>
        </p>
        <a href="#" class="mt-8 block w-full rounded-md border border-transparent bg-purple-600 py-2 text-center text-sm font-semibold text-white hover:bg-purple-700">Buy Monthly</a>
        <br> <a href="https://calendly.com/caleb_otis/30min" class="text-dark-800 opacity-70 text-center underline decoration-wavy text-sm"> Book a Call</a>
        </div>
      <div class="px-6 pt-6 pb-8">
        <h3 class="text-sm font-medium text-gray-900">What's included</h3>
        <ul role="list" class="mt-6 space-y-4">
          <li class="flex space-x-3">
            <!-- Heroicon name: mini/check -->
            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            <span class="text-sm text-gray-500">Unlimite requests. </span>
          </li>

           

          <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
          </svg>
          <span class="text-sm text-gray-500">Unlimited brands.</span>
        </li>

        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
          </svg>
          <span class="text-sm text-gray-500">Unlimited users.</span>
        </li>

        <li class="flex space-x-3">
        <!-- Heroicon name: mini/check -->
        <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        <span class="text-sm text-gray-500">Skip and cancel any time .</span>
      </li>
           
        </ul>
      </div>
    </div>

    <div class="divide-y divide-gray-200 rounded-lg border border-gray-200 shadow-sm">
      <div class="p-6">
        <h2 class="text-lg font-medium leading-6 text-gray-900">Quarterly</h2>
        <p class="mt-4 text-sm text-gray-500">Save upto $1000 per month</p> 
        <br>
        <p class="mt-8">
          <span class="text-4xl font-bold tracking-tight text-gray-900">$3,599</span>
          <span class="text-base font-medium text-gray-500">/mo</span>
        </p>
        <a href="#" class="mt-8 block w-full rounded-md border border-transparent bg-purple-600 py-2 text-center text-sm font-semibold text-white hover:bg-purple-700">Buy Quarterly</a>
        <br> <a href="https://calendly.com/caleb_otis/30min" class="text-dark-800 opacity-70 text-center underline decoration-wavy text-sm"> Book a Call</a>

        </div>
      <div class="px-6 pt-6 pb-8">
        <h3 class="text-sm font-medium text-gray-900">What's included</h3>
        <ul role="list" class="mt-6 space-y-4">
          <li class="flex space-x-3">
            <!-- Heroicon name: mini/check -->
            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            <span class="text-sm text-gray-500">Unlimited brands. </span>
          </li>

          <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
          </svg>
          <span class="text-sm text-gray-500">Unlimited brands.</span>
        </li>

        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
          </svg>
          <span class="text-sm text-gray-500">Unlimited users.</span>
        </li>

        <li class="flex space-x-3">
        <!-- Heroicon name: mini/check -->
        <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        <span class="text-sm text-gray-500">Unlimited stock photos via Shutterstock.</span>
      </li>
        </ul>
      </div>
    </div>

    <div class="divide-y divide-gray-200 rounded-lg border border-gray-200 shadow-sm">
      <div class="p-6">
        <h2 class="text-lg font-medium leading-6 text-gray-900">Yearly</h2>
        <p class="mt-4 text-sm text-gray-500">Save upto $ 1,500 per month</p>
        <br>
        <p class="mt-8">
          <span class="text-4xl font-bold tracking-tight text-gray-900">$2,499</span>
          <span class="text-base font-medium text-gray-500">/mo</span>
        </p>
        <a href="#" class="mt-8 block w-full rounded-md border border-transparent bg-purple-600 py-2 text-center text-sm font-semibold text-white hover:bg-purple-700">Buy Yearly</a>
        <br> <a href="https://calendly.com/caleb_otis/30min" class="text-dark-800 opacity-70 text-center underline decoration-wavy text-sm"> Book a Call</a>

        </div>
      <div class="px-6 pt-6 pb-8">
        <h3 class="text-sm font-medium text-gray-900">What's included</h3>
        <ul role="list" class="mt-6 space-y-4">
          <li class="flex space-x-3">
            <!-- Heroicon name: mini/check -->         

          <li class="flex space-x-3">
            <!-- Heroicon name: mini/check -->
            <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            <span class="text-sm text-gray-500">Unlimited requests.</span>
          </li>

          <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
          </svg>
          <span class="text-sm text-gray-500">Unlimited brands.</span>
        </li>

        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
          </svg>
          <span class="text-sm text-gray-500">Unlimited users.</span>
        </li>

        <li class="flex space-x-3">
        <!-- Heroicon name: mini/check -->
        <svg class="h-5 w-5 flex-shrink-0 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
        </svg>
        <span class="text-sm text-gray-500">Unlimited stock photos via Shutterstock.</span>
      </li>
          
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<br>


<div class="bg-gray-50">
  <div class="mx-auto max-w-7xl py-12 px-4 sm:py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-3xl divide-y-2 divide-gray-200">
      <h2 class="text-center text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">FAQs</h2>
      <dl class="mt-6 space-y-6 divide-y divide-gray-200">
        <div class="pt-6">
          <dt class="text-lg">
            <!-- Expand/collapse question button -->
            <button type="button" class="flex w-full items-start justify-between text-left text-gray-400" aria-controls="faq-0" aria-expanded="false">
              <span class="font-medium text-gray-900">Why would I just have to subscribe to your designs?</span>
              <span class="ml-6 flex h-7 items-center">
                <!--
                  Expand/collapse icon, toggle classes based on question open state.

                  Heroicon name: outline/chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
                <svg class="rotate-0 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-0">
            <p class="text-base text-gray-500">Unlike hiring a freelancer designer, which sometimes poses a big challenge in regards to delivery time, 
            here we make the designs readily available for you so you can choose on any and scale your business.</p>
          </dd>
        </div>

        
        <div class="pt-6">
        <dt class="text-lg">
          <!-- Expand/collapse question button -->
          <button type="button" class="flex w-full items-start justify-between text-left text-gray-400" aria-controls="faq-0" aria-expanded="false">
            <span class="font-medium text-gray-900">How apt are you to deliver my designs?</span>
            <span class="ml-6 flex h-7 items-center">
              <!--
                Expand/collapse icon, toggle classes based on question open state.

                Heroicon name: outline/chevron-down

                Open: "-rotate-180", Closed: "rotate-0"
              -->
              <svg class="rotate-0 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
              </svg>
            </span>
          </button>
        </dt>
        <dd class="mt-2 pr-12" id="faq-0">
          <p class="text-base text-gray-500">Averagely, designs take upto three days. However, for more complex designs, these can 
          take a few more days.</p>
        </dd>
      </div>

      <div class="pt-6">
      <dt class="text-lg">
        <!-- Expand/collapse question button -->
        <button type="button" class="flex w-full items-start justify-between text-left text-gray-400" aria-controls="faq-0" aria-expanded="false">
          <span class="font-medium text-gray-900">What do you do with clients who do not love the designs?</span>
          <span class="ml-6 flex h-7 items-center">
            <!--
              Expand/collapse icon, toggle classes based on question open state.

              Heroicon name: outline/chevron-down

              Open: "-rotate-180", Closed: "rotate-0"
            -->
            <svg class="rotate-0 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
          </span>
        </button>
      </dt>
      <dd class="mt-2 pr-12" id="faq-0">
        <p class="text-base text-gray-500">That is pretty Simple! We offer Unlimited revisions till thy are satsfied 100%</p>
      </dd>
    </div>

    <div class="pt-6">
    <dt class="text-lg">
      <!-- Expand/collapse question button -->
      <button type="button" class="flex w-full items-start justify-between text-left text-gray-400" aria-controls="faq-0" aria-expanded="false">
        <span class="font-medium text-gray-900">I am worried, will I receive my designs on time before completing payments?</span>
        <span class="ml-6 flex h-7 items-center">
          <!--
            Expand/collapse icon, toggle classes based on question open state.

            Heroicon name: outline/chevron-down

            Open: "-rotate-180", Closed: "rotate-0"
          -->
          <svg class="rotate-0 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
        </span>
      </button>
    </dt>
    <dd class="mt-2 pr-12" id="faq-0">
      <p class="text-base text-gray-500">We will only share with you part of the work done. But rest asured we'll finally deliver!</p>
    </dd>
  </div>
         </dl>
    </div>
  </div>
</div>
